<h1>id: <%= @record.id %> : <%= @record.title %>の日記編集ページ</h1>

<%= form_with(model: @record, local: true ) do |f| %>
<% end %>

<h1>日記編集</h1>
<%= render 'form', record: @record %>
<%= link_to record_path do%>
  <i class="fas fa-undo-alt"></i>
<% end %>
