<h1><%= @record.id %> : <%= @record.title%>の詳細ページ</h1>
<p><%= @record.content%></p>

<%= link_to root_url do%>
  <i class="fas fa-undo-alt"></i>
<% end %>
<%= link_to '編集する', edit_record_path(@record), class: 'btn btn-light' %>
<%= link_to @record, method: :delete, data: {confirm: 'ほんまに消すけどええの？'}, class: 'btn btn-danger' do %>
  <i class="far fa-trash-alt"></i>
<% end %>
